/* Footer */
footer {
    background-color: var(--cyan-A);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    padding-inline: 50px 10%;
    margin-top: auto;
}

.textFooter p {
    margin-top: 20px;
    font-size: 35px;
}

.textFooter {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}

.logo-container img {
    width: 60px;
}

.oculto {
    visibility: hidden;
}