/* Header de la pagina */
header {
    background-color: var(--cyan-A);
    width: 100%;
}
.header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 30px;
}

.info-pag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.logo {
    position: relative;
    top: 50px;
    width: 450px;
    cursor: pointer;
    margin: 0 auto;
}

.login {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.login-text {
    text-decoration: none;
    color: azure;
    font-size: 23px;
    display: flex; /* Aplicar flexbox al texto */
    align-items: center;
    margin: 0;
}

.cerrar-text {
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .login {
        gap: 20px;
        align-items: flex-end;
        margin-right: 40px;
    }
    
}


@media screen and (max-width: 750px) {
    
}

